MingTai_Right25121/Service References/WMSService/CommonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveParameter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameter" type="tns:WMSSYS_Parameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WMSSYS_Parameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GroupID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Operation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SortId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlagNames" type="tns:ArrayOfWMS_FlagName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWMS_FlagName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WMS_FlagName" nillable="true" type="tns:WMS_FlagName" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WMS_FlagName">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lan" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveParameterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveParameterResult" type="tns:WebServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WebServiceResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AllRightSync">
        <s:complexType />
      </s:element>
      <s:element name="AllRightSyncResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AllRightSyncResult" type="tns:WebServiceResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveParameterSoapIn">
    <wsdl:part name="parameters" element="tns:SaveParameter" />
  </wsdl:message>
  <wsdl:message name="SaveParameterSoapOut">
    <wsdl:part name="parameters" element="tns:SaveParameterResponse" />
  </wsdl:message>
  <wsdl:message name="AllRightSyncSoapIn">
    <wsdl:part name="parameters" element="tns:AllRightSync" />
  </wsdl:message>
  <wsdl:message name="AllRightSyncSoapOut">
    <wsdl:part name="parameters" element="tns:AllRightSyncResponse" />
  </wsdl:message>
  <wsdl:portType name="CommonServiceSoap">
    <wsdl:operation name="SaveParameter">
      <wsdl:input message="tns:SaveParameterSoapIn" />
      <wsdl:output message="tns:SaveParameterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AllRightSync">
      <wsdl:input message="tns:AllRightSyncSoapIn" />
      <wsdl:output message="tns:AllRightSyncSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommonServiceSoap" type="tns:CommonServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveParameter">
      <soap:operation soapAction="http://tempuri.org/SaveParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllRightSync">
      <soap:operation soapAction="http://tempuri.org/AllRightSync" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommonServiceSoap12" type="tns:CommonServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveParameter">
      <soap12:operation soapAction="http://tempuri.org/SaveParameter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllRightSync">
      <soap12:operation soapAction="http://tempuri.org/AllRightSync" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommonService">
    <wsdl:port name="CommonServiceSoap" binding="tns:CommonServiceSoap">
      <soap:address location="http://192.168.88.3:2512/apps/WMSService/CommonService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommonServiceSoap12" binding="tns:CommonServiceSoap12">
      <soap12:address location="http://192.168.88.3:2512/apps/WMSService/CommonService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>